.post-btn
{
  float: right;
  background: #1c8d5e;
  color: #fff;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

div#cart .back
{
  float: left;
  background: #1c8d5e;
  color: #fff;
  border: none;
  width: 110px;
  height: 35px;
  margin-right: 25px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

div#cart .cart
{
  float: left;
  background: #1c8d5e;
  color: #fff;
  border: none;
  width: 230px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

div#review
{
  margin : 3em 0 1.5em ;
  padding : 1em 1.5em ;
  line-height : 1.8 ;
  border : double 4px #333 ;
}

.reviewpost
{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-family: sans-serif;
}

textarea
{
  background: rgba(247, 248, 247, 0.747);
  color:black;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  min-height: 100px;
  margin-bottom: 20px;
}

.reviewlist
{
  text-align: center;
  padding-top: 55px;
  font-size: 18px;
  font-family: sans-serif;
}