<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|anaglyph">
        <link href="{{constant('cafeshop\\Bootstrap::APP_URL')}}css/orderdetermine.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div class="font-effect-anaglyph">shopping my cart</p></div>
                <p><a class="home" href="{{constant('cafeshop\\Bootstrap::ENTRY_URL')}}list.php">HOME</a><p>
            </header>
            <div class="alert">
                <p>{% if message %}{{message}}{% endif %}<p>
                <p>{% if err %}{{err}}{% endif %}<p>
            </div>
        </div>
    </body>
</html>